<% if related(current_page).present? %>
  <div id="related">
    <h2>Другие посты</h2>
    <ul class="posts">
      <% related(current_page).each do |article| %>
        <li>
          <span><%= date(article.date) %></span> &raquo;
          <%= link_to(article.title, article.url) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
